Mengklasifikasi label data overall players yang udah di kategorikan menjadi 3 label berdasarkan data players menggunakan Algoritma KNN dan Naive Bayes


IMPORT LIBRARY

In [0]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

MEMANGGIL DATA FIFA20.CSV

In [126]:
df = pd.read_csv('fifa20.csv') #read data
df.head() #munculkan data

   sofifa_id                                         player_url  ...   rcb    rb
0     158023  https://sofifa.com/player/158023/lionel-messi/...  ...  52+2  63+2
1      20801  https://sofifa.com/player/20801/c-ronaldo-dos-...  ...  53+3  61+3
2     190871  https://sofifa.com/player/190871/neymar-da-sil...  ...  46+3  61+3
3     200389  https://sofifa.com/player/200389/jan-oblak/20/...  ...   NaN   NaN
4     183277  https://sofifa.com/player/183277/eden-hazard/2...  ...  49+3  61+3

[5 rows x 104 columns]

DROP FITUR DATA YANG TIDAK DIPERLUKAN

In [127]:
#menghapus variable data yang tidak digunakan
df = df.drop(columns=['ls',	'st',	'rs',	'lw',	'lf',	'cf',	'rf'	,'rw',	'lam',	'cam',	'ram',	'lm',	'lcm',	'cm',	'rcm',	'rm',	'lwb',	'ldm',	'cdm'	,'rdm',	'rwb',	'lb',	'lcb',	'cb',	'rcb',	'rb',
	'player_positions',	'international_reputation',	'weak_foot', 'team_position',	'team_jersey_number',	'contract_valid_until',	'nation_position',	
'nation_jersey_number',	'wage_eur','work_rate',	'release_clause_eur',	
'joined', 'player_traits', 'player_tags','real_face', 'preferred_foot', 'loaned_from', 'long_name','nationality', 'club','value_eur','short_name',
'age',	'height_cm',	'weight_kg',	'body_type','dob','player_url','sofifa_id','gk_kicking'])
df.head()

   overall  potential  ...  goalkeeping_positioning  goalkeeping_reflexes
0       94         94  ...                       14                     8
1       93         93  ...                       14                    11
2       92         92  ...                       15                    11
3       91         93  ...                       90                    89
4       91         91  ...                        8                     8

[5 rows x 48 columns]

MENGISI DATA YANG KOSONG

In [128]:
nums = ['physic','pace'	,'shooting',	'passing',	'dribbling',	'defending',	'gk_diving',	'gk_handling',	'gk_reflexes',	'gk_speed',	'gk_positioning']
cats = df.columns.drop(nums)
for numer in nums:
     df[numer] = df[numer].fillna(df[numer].mean()) #isi data NAN
for cate in cats:
     df[cate] = df[cate].fillna(df[cate].mode().values[0]) #isi data NAN
df.head()

   overall  potential  ...  goalkeeping_positioning  goalkeeping_reflexes
0       94         94  ...                       14                     8
1       93         93  ...                       14                    11
2       92         92  ...                       15                    11
3       91         93  ...                       90                    89
4       91         91  ...                        8                     8

[5 rows x 48 columns]

In [129]:
df['overall'].value_counts()

66    1141
64    1138
65    1124
68    1068
67    1065
69     964
63     946
70     902
62     873
72     753
71     715
60     701
61     649
73     638
59     545
74     529
75     506
58     485
76     361
57     360
56     360
55     274
77     262
78     239
54     232
53     197
79     185
52     169
80     157
51     117
50     103
82      92
81      82
83      80
49      66
84      49
48      43
85      35
86      18
88      17
87      15
89      13
90       4
91       3
92       1
93       1
94       1
Name: overall, dtype: int64

MENGKATEGORIKAN DATA YANG DIBAGI MENJADI 3 LABEL AGAR LEBIH AKURAT

In [130]:
df.loc[df['overall'] > 80, 'overall'] = 90 #Data dikategorikan ke 90 jika nilai data > 80
df.loc[((df['overall'] <= 80) & (df['overall'] > 60)), 'overall'] = 70 #Data dikategorikan ke 70 jika nilai data <= 80 dan nilai data > 60
df.loc[df['overall'] <= 60, 'overall'] = 50 #Data dikategorikan ke 60 jika nilai data > 60

df.loc[df['overall'] == 90 , 'overall'] = 2 #Data dikategorikan ke 2 jika nilai data = 90
df.loc[df['overall'] == 70 , 'overall'] = 1 #Data dikategorikan ke 1 jika nilai data = 70
df.loc[df['overall'] == 50 , 'overall'] = 0 #Data dikategorikan ke 0 jika nilai data = 50

df

       overall  potential  ...  goalkeeping_positioning  goalkeeping_reflexes
0            2         94  ...                       14                     8
1            2         93  ...                       14                    11
2            2         92  ...                       15                    11
3            2         93  ...                       90                    89
4            2         91  ...                        8                     8
...        ...        ...  ...                      ...                   ...
18273        0         56  ...                        5                    14
18274        0         56  ...                       11                     9
18275        0         56  ...                        6                    14
18276        0         54  ...                       13                    13
18277        0         51  ...                        9                    10

[18278 rows x 48 columns]

HITUNG JUMLAH LABEL DATA YANG FIX DARI OVERALL

In [131]:
df['overall'].value_counts() #hitung jumlah label data

1    14215
0     3652
2      411
Name: overall, dtype: int64

MENENTUKAN BODY_TYPE SEBAGAI LABEL

In [0]:
#overall sebagai label
features = df.drop(columns=['overall']).values 
target =  df.overall

#Train Test Split untuk membagi dataset menjadi training set dan test set
features_train, features_test, target_train, target_test = train_test_split(features,target, test_size = 0.3, train_size = 0.7, random_state = 100)

EXPERIMENT 1 MENGGUNAKAN ALGORITMA NAIVE BAYES DENGAN DATA TEST

In [144]:
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
gnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
y_pred = gnb.fit(features_train, target_train).predict(features_test)

from sklearn.metrics import accuracy_score
# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(target_test,y_pred))
print("Number of mislabeled points out of a total %d points : %d"% (features_test.shape[0], (target_test != y_pred).sum()))
accuracy = accuracy_score(target_test, y_pred, normalize = True)
print(accuracy)

              precision    recall  f1-score   support

           0       0.60      0.72      0.65      1124
           1       0.91      0.84      0.87      4221
           2       0.47      0.89      0.61       139

    accuracy                           0.81      5484
   macro avg       0.66      0.82      0.71      5484
weighted avg       0.84      0.81      0.82      5484

Number of mislabeled points out of a total 5484 points : 1022
0.8136396790663749

EXPERIMENT 1.1 MENGGUNAKAN ALGORITMA NAIVE BAYES DENGAN DATA TRAIN

In [146]:
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
gnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
y_pred = gnb.fit(features_train, target_train).predict(features_train)

from sklearn.metrics import accuracy_score
# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(target_train,y_pred))
print("Number of mislabeled points out of a total %d points : %d"% (features_train.shape[0], (target_train != y_pred).sum()))
accuracy = accuracy_score(target_train, y_pred, normalize = True)
print(accuracy)

              precision    recall  f1-score   support

           0       0.56      0.70      0.62      2528
           1       0.91      0.83      0.87      9994
           2       0.43      0.88      0.58       272

    accuracy                           0.81     12794
   macro avg       0.64      0.80      0.69     12794
weighted avg       0.83      0.81      0.82     12794

Number of mislabeled points out of a total 12794 points : 2473
0.8067062685633891

EXPERIMENT 2 MENGGUNAKAN ALGORITMA KNN DENGAN DATA SET

In [145]:
from sklearn.neighbors import KNeighborsClassifier
# Mengaktifkan fungsi klasifikasi
klasifikasi = KNeighborsClassifier(n_neighbors=100)
# Memasukkan data training pada fungsi klasifikasi
klasifikasi.fit(features_train, target_train)
# Menentukan hasil prediksi dari features_test
y_pred = klasifikasi.predict(features_test)
y_pred

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Menghitung nilai akurasi dari klasifikasi KNN
print(classification_report(target_test, y_pred))
print("Number of mislabeled points out of a total %d points : %d"% (features_test.shape[0], (target_test != y_pred).sum()))
accuracy= accuracy_score(target_test, y_pred)
accuracy

              precision    recall  f1-score   support

           0       0.92      0.84      0.88      1124
           1       0.93      0.98      0.95      4221
           2       1.00      0.02      0.04       139

    accuracy                           0.93      5484
   macro avg       0.95      0.61      0.63      5484
weighted avg       0.93      0.93      0.92      5484

Number of mislabeled points out of a total 5484 points : 391

0.9287016776075857

EXPERIMENT 2.1 MENGGUNAKAN ALGORITMA KNN DENGAN DATA TRAIN

In [147]:
from sklearn.neighbors import KNeighborsClassifier
# Mengaktifkan fungsi klasifikasi
klasifikasi = KNeighborsClassifier(n_neighbors=100)
# Memasukkan data training pada fungsi klasifikasi
klasifikasi.fit(features_train, target_train)
# Menentukan hasil prediksi dari features_test
y_pred = klasifikasi.predict(features_train)
y_pred

from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
# Menghitung nilai akurasi dari klasifikasi KNN
print(classification_report(target_train, y_pred))
print("Number of mislabeled points out of a total %d points : %d"% (features_train.shape[0], (target_train != y_pred).sum()))
accuracy= accuracy_score(target_train, y_pred)
accuracy

              precision    recall  f1-score   support

           0       0.92      0.85      0.88      2528
           1       0.94      0.98      0.96      9994
           2       1.00      0.03      0.06       272

    accuracy                           0.94     12794
   macro avg       0.95      0.62      0.63     12794
weighted avg       0.94      0.94      0.93     12794

Number of mislabeled points out of a total 12794 points : 831

0.9350476785993435